@import "tailwindcss";

@theme {
  --font-sans: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;

  --color-brand-50: #f3f0ff;
  --color-brand-100: #e5dbff;
  --color-brand-200: #d0bfff;
  --color-brand-300: #b197fc;
  --color-brand-400: #9775fa;
  --color-brand-500: #845ef7;
  --color-brand-600: #7048e8;
  --color-brand-700: #6741d9;
  --color-brand-800: #5f3dc4;
  --color-brand-900: #5235ab;
}
